/vendor
/node_modules
.env
.env.*
storage/*.key
/public/hot
/public/build
!/public/storage/logo
!/public/storage/logo/logo.png
!/public/storage/developers
/public/storage
/.idea
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache